* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

nav {
    display: flex;
    height: 53px;
}

.Navlogo {
    background-color: white;
    width: 50%;
}

.Navbutton {
    background-color: white;
    width: 50%;
    display: flex;
    position: relative;
    margin-top: 10px;
    height: 25px;
}

ul {
    display: flex;
}

.Navbutton li {
    border: none;
    padding: 5px;
    display: flex;
    margin-left: 50px;
    background: none;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    display: inline;
}

.home:hover {
    background-color: rgb(233, 237, 237);
    box-shadow: 4px 5px 6px rgb(216, 215, 215);
}

.about:hover {
    background-color: rgb(233, 237, 237);
    box-shadow: 4px 5px 6px rgb(216, 215, 215);
}

.services:hover {
    background-color: rgb(233, 237, 237);
    box-shadow: 4px 5px 6px rgb(216, 215, 215);
}


.contact:hover {
    background-color: rgb(233, 237, 237);
    box-shadow: 4px 5px 6px rgb(216, 215, 215);
}

.FirstSection {
    display: flex;
    background-color: bisque;
    min-height: 500px;
}

.top-left {
    background-color: white;
    width: 50%;
}

. top-left img {
    visibility: hidden;

}

.a {

    position: relative;
    padding-top: 15%;
    /*display: flex;*/
}

.a p {
    width: 100%;
    /*background-color: blue;*/
}

.a h2 {
    display: block;
    font-size: 40px;
    /*background-color: aqua;*/
}

.a h4 {
    width: 100%;
    position: relative;
    display: inline;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}

.pl {
    padding-left: 40%;
}




.aaaa {
    position: relative;
    padding-top: 5%;
    border: none;
}

.aaaa button {
    min-height: 10px;
    min-width: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-reight {
    background-color: white;
    position: relative;
    width: 50%;
}

.top-reight img{
    height: 400px;
    width: 400px;
    margin-top: 40px;
    border-radius: 200px;
    padding: 5px;
}







@media (max-width: 1194px) {
    .main {
        min-width: 1194px;
    }

    .Navlogo {
        width: 40%;
    }

    .Navbutton {
        width: 60%;
    }

}

